:root {
  --soft-pink: #FFE9DD;
  --strong-pink: #ff9a9e;
  --victory-blue: #3778FF;
  --error-red: #FB7B7E;
  --light-grey: #C4C4C4;
  --text-grey: #4B4B4B;
  --input-bg: #EBEBEB;
  --input-text: #8E8E93;
  --box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: 'Manrope Light';
  src: url('./fonts/manrope-light.woff');
}

@font-face {
  font-family: 'Manrope Semibold';
  src: url('./fonts/manrope-semibold.woff');
}

@font-face {
  font-family: 'Manrope Bold';
  src: url('./fonts/manrope-bold.woff');
}

input[type=text],
input[type=email],
input[type=password], {
  font-family: 'Roboto', sans-serif;
}
