h2 {
  margin: 0;
}

.guessList {
  border: 1px solid black;
  padding: 25px;
  width: 260px;
  background-color:#fff;
  margin: 0;
  position: -webkit-sticky;
  height: 300px;
  overflow-y: scroll;
}
